/* Allgemein */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6acc6a;
}

body::-webkit-scrollbar {
    display: none;
}

.limegreen {
    color: #32cd32;
}

.bg-white {
    background-color: #ffffff;
}

.bg-yellow {
    background-color: #ffff00;
}

.bg-orange {
    background-color: #ffa500;
}

.bg-red {
    background-color: #ff0000;
}

.bg-purple {
    background-color: #800080;
}

.bg-blue {
    background-color: #0000ff;
}

.bg-green {
    background-color: #008000;
}

.bg-black {
    background-color: #000000;
}

.color-circle.active {
    transform: scale(1.2);
}

/* Navbar */

.nav-link:active,
.nav-link:hover {
    color: #32cd32 !important;
}

/* Sidebar */

.drawing-colors {
    display: flex;
    margin-bottom: 10px;
}

.color-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.color-circle:last-child {
    margin-right: 0px;
}

.button {
    background-color: #212529;
    border-radius: 0.5em;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    font-weight: 350;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  
  .opt-btn {
    width: 9em;
    border: 2px solid #32cd32;
  }

  .opt-btn:hover {
    box-shadow: 0 0 40px 40px #32cd32 inset;
  }

  .pic-btn {
    width: 5em;
  }

  .pic-btn:hover {
    box-shadow: 0 0 40px 40px gray inset;
  }

/* Canvas */

canvas {
    background: #000000;
    margin: auto;
    border: 1px solid #000000;
}

.board {
    width: 800px;
    margin: auto;
}

/* Animationtable */

.animationlist {
    font-size: 24px;
    margin: auto;
    cursor: pointer;
    border: 1px solid #000000;
}

.time-tile {
    background: #ffffff;
}

.number-tile {
    background: #32cd32;
}

td {
    width: 200px;
    display: block;
    padding: 2px 5px;
}

.remove-btn {
    font-size: 20px;
    font-weight: bold;
    float: right;
}