body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
}

canvas {
    background: #000000;
    margin: auto;
    border: 1px solid #000000;
}

.pen-tools {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 40%;
    margin: auto;
    padding-bottom: 10px;
}

i {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
}

#colorpicker-btn {
    background-color: #add8e6;
}

#delete-btn {
    background-color: #add8e6;
}

#save-btn {
    background-color: lightgreen;
}

#apply-btn {
    background-color: lightgreen;
}

.board {
    width: 800px;
    margin: auto;
}

.drawing-colors {
    display: flex;
    margin-bottom: 10px;
}

.color-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 8px;
    border: 1px solid black;
    cursor: pointer;
}

.color-circle:nth-child(1) {
    background-color: #ffffff;
}

.color-circle:nth-child(2) {
    background-color: #ffff00;
}

.color-circle:nth-child(3) {
    background-color: #ffa500;
}

.color-circle:nth-child(4) {
    background-color: #ff0000;
}

.color-circle:nth-child(5) {
    background-color: #800080;
}

.color-circle:nth-child(6) {
    background-color: #0000ff;
}

.color-circle:nth-child(7) {
    background-color: #008000;
}

.color-circle:nth-child(8) {
    background-color: #000000;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 20%;
    margin: auto;
    padding: 20px;
}

.active {
    transform: scale(1.2);
}