<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>GameFrameZero</title>
</head>
<body class="text-white">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="mx-4">
            <a class="navbar-brand fs-3 fw-bold" href="#"><i class="fa-solid fa-lightbulb mx-2"></i>GameFrame<span class="limegreen">Zero</span></a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mx-auto my-2">
                <li class="nav-item mx-3">
                    <a class="nav-link" id="navlink-draw" href="/"></a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" id="navlink-images" href="/images"></a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active" id="navlink-animations" href="#"></a>
                </li>
            </ul>
        </div>
        <div class="flex-cradle mx-3">
            <div class="" id="language-slider-cradle">
            <div id="language-option-1">EN</div>
            <div id="language-option-2">DE</div>
            <div id="language-slider-handle"></div>
            </div>	
        </div>
    </nav>

    <!-- Navigation END -->

    <div class="container-fluid">
        <div class="row flex-nowrap">

            <!-- Sidebar-->

            <div class="col-xl-auto bg-dark">
                <div class="sticky-top flex-column mx-3 min-vh-100">
                    <ul class="nav flex-column align-items-center">
                        <li class="mb-2">
                            <div class="collapse-item ">
                                <a class="collapse-title fs-6 fw-bold text-white" id="sidebar-options-collapse">OPTIONEN</a>
                                <div class="collapse-content">
                                    <ul class="nav flex-column align-items-center">
                                        <li class="mt-2">
                                            <button class="button opt-btn my-2 fw-bold" id="start-animation-btn" data-bs-toggle="tooltip" data-bs-placement="right" title="Starte die Animation auf der Matrix">START</button>
                                        </li>
                                        <li>
                                            <button class="button opt-btn my-2 fw-bold" id="stop-animation-btn" data-bs-toggle="tooltip" data-bs-placement="right" title="Stoppe die Animation">STOP</button>
                                        </li>
                                        <li>
                                            <button class="button opt-btn my-2 fw-bold" id="edit-animation-btn" data-bs-toggle="tooltip" data-bs-placement="right" title="Bearbeite die ausgewählte Animation">BEARBEITEN</button>
                                        </li>
                                        <li class="mb-2">
                                            <button class="button opt-btn my-2 fw-bold" id="delete-animation-btn" data-bs-toggle="tooltip" data-bs-placement="right" title="Lösche die ausgewählte Animation">LÖSCHEN</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="mb-2">
                            <div class="collapse-item ">
                                <a class="collapse-title fs-6 fw-bold text-white" id="create-animation-collapse">NEUE ANIMATION</a>
                                <div class="collapse-content">
                                    <ul class="nav flex-column align-items-center">
                                        <li class="my-2">
                                            <input class="animation-input" type="text" placeholder="NAME" id="animation-name">
                                        </li>
                                        <li class="mb-3">
                                            <button class="button opt-btn fw-bold" id="create-animation-btn" data-bs-toggle="tooltip" data-bs-placement="right" title="Erstelle eine neue Animation">ERSTELLEN</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="mb-2">
                            <div class="collapse-item ">
                                <a class="collapse-title fs-6 fw-bold text-white" id="sidebar-brightness-collapse">HELLIGKEIT</a>
                                <div class="collapse-content">
                                    <ul class="nav flex-column align-items-center">
                                        <li class="mt-2">
                                            <span id="brightness-value">1</span>
                                        </li>
                                        <li class="my-2">
                                            <input type="range" min="1" max="80" value="1" class="slider" id="brightness-slider">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="mb-2">
                            <div class="collapse-item ">
                                <a class="collapse-title fs-6 fw-bold text-white" id="animationspeed-collapse">GESCHWINDIGKEIT</a>
                                <div class="collapse-content">
                                    <ul class="nav flex-column align-items-center">
                                        <li class="mt-2">
                                            <span id="speed-value">100</span>
                                        </li>
                                        <li class="my-2">
                                            <input type="range" min="1" max="20" value="10" class="slider" id="speed-slider">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Sidebar END -->

            <div class="col py-3 d-flex justify-content-evenly my-auto">
                <div class="row col-lg-8 g-4" id="tile-body"></div>
            </div>
        </div>
    </div>
   
    <script src="{{ url_for('static', filename='js/languages.js') }}"></script>
    <script src="{{ url_for('static', filename='js/collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/brightness.js') }}"></script>
    <script src="{{ url_for('static', filename='js/animationspeed.js') }}"></script>
    <script src="{{ url_for('static', filename='js/canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/frametiles.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pages/animations.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>