<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ZeichenApp</title>
</head>
<body>
    <div class="pen-tools">
        <div class="drawing-colors">
            <div class="color-circle" data-color="#ffffff" onclick="standardColor(this)"></div>
            <div class="color-circle" data-color="#ffff00" onclick="standardColor(this)"></div>
            <div class="color-circle" data-color="#ffa500" onclick="standardColor(this)"></div>
            <div class="color-circle" data-color="#ff0000" onclick="standardColor(this)"></div>
            <div class="color-circle" data-color="#800080" onclick="standardColor(this)"></div>
            <div class="color-circle" data-color="#0000ff" onclick="standardColor(this)"></div>
            <div class="color-circle" data-color="#008000" onclick="standardColor(this)"></div>
            <div class="color-circle active" data-color="#000000" onclick="standardColor(this)"></div>
        </div>
        <div id="favContainer"> <label for="favcolor">Farbe wählen:</label>
            <input type="color" name="favcolor" id="favcolor" value="#000000" onchange="favColor(this)">
        </div>
        <i class="" id="colorpicker-btn"><strong>Pipette</strong></i>
        <i id="delete-btn"><strong>Löschen</strong></i>
       
    </div>
    <div class="board">
        <canvas width="800px" height="800"></canvas>
    </div>
    <div class="footer">
        <i class="" id="save-btn"><strong>Speichern</strong></i>
        <i class="" id="apply-btn"><strong>Anwenden</strong></i>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>